*{
    background-color: black;
    color: white;
}
.small-img {
    width: 500px;
    height: auto;
}

.d-flex{
    display: flex;
}

.info-box{
    width: 300px;
}

.game{
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
}